.post {
  height: 500px;
  margin-bottom: 10px;

  .paragraph-container {
    padding-top: 5px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
    text-align: start;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    word-break: break-all;

    .paragraph {
      width: 100%;
    }

    .dash {
      padding-left: 3px;
      padding-right: 3px;
      width: 12px;
      position: relative;
    }

    .see-more {
      height: 20px; 
      width: 65px;
      position: relative;
    }
  }
}