/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; }

* {
  font-family: 'Open Sans', sans-serif;
} 

.p1 {
  padding: 10px !important;
}

.m1 {
  margin: 10px !important;
}

.gl5 {
  margin-left: 50px !important;
}

.glr5 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.h100 {
  height: 100%;
}

.w100 {
  height: 100%;
}